<h2>Available Cats</h2>
<div class="cats">
    <ng-container *ngFor="let cat of availCats">
        <app-cat [cat]="cat" (adoptedCat)="adopt(cat)"></app-cat>
    </ng-container>
</div>
<ng-container *ngIf="loggedUser && loggedUser.role.name==='Employee'">
    <div class="cat">
        <h4>New Cat</h4>
        <label for="name">Name: </label><input [(ngModel)]="newCat.name" name="name" type="text" />
        <label for="age">Age: </label><input [(ngModel)]="newCat.age" name="age" type="number" />
        <label for="breed">Breed: </label>
        <select name="breed" [(ngModel)]="selectedBreed.id">
            <option *ngFor="let breed of breeds" [value]="breed.id">{{breed.name}}</option>
        </select>
        <label for="specialneeds">Special Needs: </label>
        <select name="specialneeds">
            <option *ngFor="let need of specialNeeds" [value]="need.id">{{need.name}}</option>
        </select>
        <ul>
            <li *ngFor="let need of newCat.specialNeeds">{{ need.name }}</li>
        </ul>
        <br>
        <button type="button" (click)="addCat()">Submit</button>
    </div>
</ng-container>
